.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link{
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sidebar-link:hover{
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}

.sidebar-link img{
    height: 24px;
}

.sidebar-link div{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    margin-top: 5px; 
    
}