body{
    font-family: Roboto, Arial;
}

.video-container{
    max-width: 95%;
    margin-bottom: 20px;
  }

.recommend{
    width: 100%;
/*     background-color: brown; */
}  

.video1-title{
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .video1-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }

  .video1-left-section{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .video1-profile-picture{
    width: 40px;
    border-radius: 100%;
  }
  
  .channel-detail{
    margin-left: 10px;
    line-height: 25px;
  }
  
  .channel-detail-title{
    font-weight: bold;

  }
  
  .channel-detail-description{
    font-size: 13px;
    color: rgb(96, 96, 96);
  }

  .buttons{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 20px;
  }

  .join-button{
    padding: 10px 20px;
    background-color: rgb(243, 243, 243);
    border-radius: 25px;
    border: none;
  }

  .join-button:hover{
    background-color: rgb(208, 208, 208);
    cursor: pointer;
  }

  
  .sub-button{
      padding: 10px 20px;
      background-color: black;
      color: white;
      border-radius: 25px;
      border: none;
    }

    .sub-button:hover{
      background-color: rgba(0, 0, 0, 0.801);
      cursor: pointer;
    }
    
    .video1-right-section{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2px
      ;
    }

    .like-dislike-container{
        display: flex;
        background-color: rgb(243, 243, 243);
        border-radius: 25px;
        padding: 5px;
    }
  
    .like-icon-container{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 25px;
    padding: 3px 5px;
    font-size: 14px;
    font-family: Roboto, Arial;
    padding-right: 12px;
    
  }

  .like-icon{
    height: 16px;
    margin-right: 5px;
  }

  .like-icon-container:hover{
    background-color: rgb(208, 208, 208);
    cursor: pointer;
  }

  .dislike-icon{
    height: 16px;
  }

  
  .dislike-icon-container{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 25px;
    padding: 3px 8px;
    margin-left: -5px;
    
  }
  
  .dislike-icon-container:hover{
    background-color: rgb(208, 208, 208);
    cursor: pointer;
  }

  .share-icon-container{
    display: flex;
    align-items: center;
    background-color: rgb(243, 243, 243);
    border: none;
    border-radius: 25px;
    padding: 5px 12px;
  }

  .share-icon{
    height: 16px;
    margin-right: 6px;
  }

  .share-icon-container:hover{
    background-color: rgb(208, 208, 208);
    cursor: pointer;
  }

  .download-icon-container{
    display: flex;
    align-items: center;
    background-color: rgb(243, 243, 243);
    border-radius: 25px;
    padding: 5px 8px;
  }

  .download-icon{
    height: 16px;
    margin-right: 4px;
  }

  .download-icon-container:hover{
    background-color: rgb(208, 208, 208);
    cursor: pointer;
  }

  .more-icon-container{
    display: flex;
    align-items: center;
    background-color: rgb(243, 243, 243);
    border-radius: 25px;
  }

  .more-icon{
    height: 16px;
    padding: 4px;
  }

  .more-icon-container:hover{
    background-color: rgb(208, 208, 208);
    cursor: pointer;
  }

  .description{
    font-family: Roboto, Arial;
    margin-top: 16px;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    padding: 4px;
  }

  summary{
    font-weight: 500;
    line-height: 20px;
  }

  summary p{
    font-weight: 300;
    margin-top: 6px;
  }

  .description-info{
    margin-top: 20px;
    line-height: 28px;
  }

  .description-info a{
    color: dodgerblue;
    text-decoration: none;
  }

  .recommend-buttons{
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .all-button{
    padding: 10px 15px;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    border: none;
  }

  .related-button{
    padding: 10px 15px;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    border: none;
  }

  .recently-uploaded-button{
    padding: 10px 15px;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    border: none;
  }

  .watched-button{
    padding: 10px 15px;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    border: none;
  }

  .all-button:hover,
  .related-button:hover,
  .recently-uploaded-button:hover,
  .watched-button:hover{
    background-color: rgb(208, 208, 208);
    cursor: pointer;
  }

  .all-button:focus,
  .related-button:focus,
  .recently-uploaded-button:focus,
  .watched-button:focus{
    background-color: rgb(208, 208, 208);
    cursor: pointer;
  }

  .all-button:active,
  .related-button:active,
  .recently-uploaded-button:active,
  .watched-button:active{
    background-color: black;
    color: white;
    cursor: pointer;
  }

  .recommend-video-container{
    margin-top: 18px;
    position: relative;
    display: flex;
  }

  .video-card-picture{
    width: 170px;
    border-radius: 10px;
    margin-right: 8px;
  }

  .video-card-time{
    background-color: rgba(0, 0, 0, 0.705);
    color: white;
    position: absolute;
    bottom: 11px;
    left: 122px;
    font-size: 10px;
    font-weight: bold;
    padding: 4px;
    border-radius: 2px;
  }

  @media screen and (max-width:600px) {
    body{
      display: grid;
      grid-template-columns: 1fr;
    }

  }
  
  @media screen and (min-width:601px) {
    body{
      display: grid;
      grid-template-columns: 1fr;
    }
    
  }
  
  @media screen and (min-width:1200px) {
    body{
      display: grid;
      grid-template-columns: 1fr;
    }
    
    .container{
      width: 70%;
      margin-right: 0;
    }
    .recommend{
      display: inline-block;
      width: 30%;
      position: absolute;
      top: 85px;
      right: 0;
    }

    .description{
      max-width: 95%;
    }

    .info-row{
      max-width: 95%;
    }

  }